button{
    border: 0;
    border-radius: 3px;    
    padding: 0 16px;
    font-weight: 600;
    margin: 0 20px;
}

button:hover{
    cursor: pointer;
    background-color: #ff153c;
}

.primary{
    background-color: #ef233c;
    color: #fff;
    border: 2px solid #ef233c;
}

button.primary:disabled{
    cursor: not-allowed;
    background-color: #cecece;
    border: 2px solid #cecece;
}

.secondary{
    border: 2px solid #ef233c;
    color: #ef233c;
    background-color: transparent;
}

button.secondary:disabled{
    cursor: not-allowed;
    background-color: transparent;
    border: 2px solid #cecece;
    color: #cecece;
}

.secondary:hover{
    border: 2px solid #ef233c;
    color: #fff;
}

.tertiary{
    border: none;
    color: #ef233c;
    background-color: transparent;
}

button.tertiary:disabled{
    cursor: not-allowed;
    background-color: transparent;
    border: none;
    color: #cecece;
}

.tertiary:hover{
    color: #fff;
}

.small {
    padding: 5px 10px;
    font-size: 12px;
    min-height: 2em;
}

.medium {
    padding: 10px 20px;
    font-size: 14px;
    min-height: 2.75em;
}

.large {
    padding: 15px 30px;
    font-size: 16px;
    min-height: 3.5em;
}